# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_NAME=ecommerce
DB_USERNAME=root
DB_PASSWORD=change_me_local_only

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=change_me_local_only

# Security Configuration
# Generate a secure key for JWT_SECRET (at least 256-bit)
JWT_SECRET=your_super_secret_key_change_me_in_production
JWT_ACCESS_EXPIRATION=3600000
JWT_REFRESH_EXPIRATION=604800000

# Server Configuration
SERVER_PORT=8080
SERVER_CONTEXT_PATH=/api/v1

#Key cloak
KEYCLOAK_REALM=your_realm
